__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.venv/
venv/
env/

.idea/
.vscode/
*.swp
*.swo

.git/
.gitignore

.DS_Store
Thumbs.db

Dockerfile
docker-compose.yml

*.log
*.sqlite
tests/
*.egg-info/
*.bak
