fastapi
uvicorn
python-multipart
pyjwt
python-magic
grpcio
protobuf
grpcio-tools
pika
minio
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
prometheus-client
tenacity
python-dotenv
pybreaker